html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

.application {
    position: absolute;
    width: 500px;
    height: 250px;
    top: 50%;
    left: 50%;
    font-weight: 200;
    text-align: center;
    margin-top: -125px;
    margin-left: -250px;
}

/* https://developer.mozilla.org/ru/docs/Web/CSS/@media/prefers-color-scheme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1C1A1AFF;
        color: #e3dcdc;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #e3dcdc;
        color: #1C1A1AFF;
    }
}
